@import url('https://fonts.googleapis.com/css?family=Lacquer|Open+Sans:300,700i&display=swap');

/* mobile imagery*/

@media (max-width:576px) {
    .background {
        height: 800px;
        width: 100%;
        background: url("../images/landing-background-01.jpg") no-repeat center center;
        background-size: cover;
        background-position-x: top;
        padding: 0px;
        background-attachment: fixed;
    }
}